*{
  margin: 0;
  padding: 0;
  font-family:Arial,sans-serif ;
}
:root{
  /* #f1f3f4 */
  --dark-gray:rgb(95,99,104);
  --light-gray:rgb(241,243,244);
  --hover-gray:rgb(223, 223, 223);
  --dark-blue:rgb(25,103,210);
  --light-blue:rgb(232,240,254);
  --main-transition:.3s ;
  /* rgb(232,240,254) */
  /* rgb(241,243,244) */
  /* rgb(197,34,31) */
  /* rgb(249,171,0) */
  /* rgb(66, 186, 150) */
}