*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

:root {
  --mainDarkColor: #3d6ec9;
  --mainColor: #4688f4;
  --mainBgColor: #f7f9fc;
  --mainDarkBgColor: #edf2fc;
  --lightsecondaryBgColor: #e8e8e8;
  --secondaryBgColor: #cbcaca;
  --activeBgColor: #c2e7ff;
  --hoverBgColor: #d4dbea;
  --mainIconColor: #434343;
  --overlayColor: #43434376;
  --secondaryIconColor: #d4dbea;
  --mainTextColor: #434343;
  --secondaryTextColor: #686868;
  --successColor: #4bb543;
  --main-transition: 0.2s;
}
body {
  position: relative;
}
